<template>
  <div class="orders">

    <div class="order-list">
      <div class="list" v-for="list in $store.state.orderList" :key="list.name">
        <p>{{ list.name }}</p>
        <p>{{ list.pricePerUnit }}</p>
        <p>x{{ list.quantity }}</p>
        <p>{{ list.quantity * list.pricePerUnit }}</p>
        <b-button  size="sm" variant="danger" @click="$store.dispatch('removeOrder', list.id)">
          X
        </b-button>
      </div>
    </div>

    <div class="total">
      <p>Total</p>
      <p>{{ total }}</p>
    </div>

    <div class="button-group">
      <button
        class="btn"
        style="background-color: #5cb85c; color: white"
        @click="checkout"
      >
        Checkout
      </button>
    </div>
  </div>
</template>

<style scoped>
.orders {
  display: grid;
  grid-template-rows: auto 1fr auto 50px;
  gap: 10px;
  margin-left: auto;
  width: 500px !important;
  padding: 10px;
  color: white;
  background-color: #212121 ;
}


.total {
  display: flex;
  font-weight: bold;
  font-size: 20px;
}

.total > p {
  margin: 0;
}

.total > p:last-child {
  margin-left: auto;
}

.button-group {
  display: flex;
}

.button-group > button {
  flex-grow: 1;
}

.order-list {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

.list {
  display: grid;
  grid-template-columns: 130px 50px 50px 1fr auto;
  align-items: center;
  gap: 20px;
}

.list > p {
  margin: 0;
}

.list > p:not(:first-child) {
  text-align: right;
}
</style>

<script>
export default {
  props: ["total"],

  methods: {
    checkout() {
  
    
    const array = this.$store.state.orderList.map((e) => ({
        order_id: e.id,
        order_name: e.name,
        order_price: e.quantity * e.pricePerUnit,
      }));


      fetch("http://localhost:3000/order/insertorder",{
        method: 'post',
        body: JSON.stringify({array: array}),
        headers:{
          'Content-Type':'application/json'
        }
      }).then(res => res.json())
      .then(res => console.log(res))
      .catch(function (err){
        console.error(err)
      })

  

      

      console.log("checkout")
      console.log(array)

      alert("Successfully")
      this.$store.commit("clearOrderList");
    },
  },
};
</script>