<template>
  <div class="product-card">

       <img :src="imagesrc">
          <P style="color:#f5f5f5; margin:10px;">{{name}}</P>
          <b-button size="sm" class="mb-2"  @click="$store.dispatch('addOrder', product)">${{price}} <b-icon icon="cart-plus" ></b-icon></b-button>
         
  </div>
</template>

<style scoped>


img {

    margin: 25px 10px;
    opacity: 100%;
    width: 250px;
    height: 360px;

  }

</style>

<script>
export default {
  props: ["name", "price","imagesrc","product"],

  data(){
    return {



    }
  },
};
</script>