<template>
  <div class="products">

    <b-row align-h="center">
     
          <ProductCard
      v-for="product in products"
      :product="product"
      :key="product.product_id"
      :imagesrc="product.product_src"
      :name="product.product_name"
      :price="product.product_price"
      />
        
      
    </b-row>

  </div>
</template>

<style scoped>

</style>

<script>
import ProductCard from "@/components/ProductCard.vue";

export default {
  components: {
    ProductCard,
  },

  data() {
    return {
      products: [],
    };
  },

  async created() {
    const { data } = await this.$axios.get("http://localhost:3000/product");
    console.log(data)
    this.products = data;
  },
};
</script>