<template>
  <div id="app">
    <div id="nav"></div>
    <router-view/>
  </div>
</template>

<style>

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}



#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
    height: 100%;
  background: #121212 ;
  
   
}

#nav {
  padding: 30px;
   color: #5F5F5F;
}

#nav a {
  font-weight: bold;
  color: #5F5F5F;
}

#nav a.router-link-exact-active {
  color: #F5F5F5;
}
</style>
