<template>
  <div class="home">

    <b-container fluid class="bv-example-row">
    <b-row>

      <b-col cols="12" md="8" >
        <h1 style="color:#f5f5f5">
          Store
        </h1>
        <Products/>
        
     </b-col>
      

      <b-col cols="6" md="4">
         <h1 style="color:#f5f5f5">
          Cart
        </h1>
          <Orders :total="getTotal"/>
      </b-col>

    </b-row>
    </b-container>


  </div>

</template>

<script>
  import Products from "@/components/Products.vue";
  import Orders from "@/components/Orders.vue";

  export default {

  

    components: {
      Products,
      Orders
    },

     computed: {
      getTotal() {
        const total = this.$store.state.orderList.reduce(
          (prev, current) => prev + current.quantity * current.pricePerUnit,
          0
        );

        return new Intl.NumberFormat("th-TH", {
          style: "currency",
          currency: "THB",
        }).format(total);
      },
    },

   
  }
</script>

<style scoped>
  p {

    color: #f5f5f5
  }






  
</style>